.listItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.iconContainer {
  font-size: 24px;
  height: 80px;
  width: 80px;
  border: 2px solid #f8f8f8;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.category,
.iconContainer {
  cursor: pointer;
}

.category:hover {
  cursor: pointer;
  opacity: 0.3;
}

.iconContainer:hover {
  opacity: 0.5;
}

.category {
  font-size: 16px;
  opacity: 0.5;
}

.description {
  font-size: 16px;
}

.itemContent {
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding: 40px 0;

  border-top: 1px solid #f8f8f8;
}

.listItem:last-child > .itemContent {
  border-bottom: 1px solid #f8f8f8;
}

.value {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.percentage {
  font-size: 16px;
  opacity: 0.5;
  text-align: right;
}
